<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2>Current Collaborators</h2>
      <% @collaborations.each do |c|%>
        <ul><li><%= c.user.username %>
          <%= link_to "Delete Collaborator", [@wiki,c], method: :delete, class: 'btn btn-danger', confirm: 'Are you sure you want to delete this collaborator?' %>
        </li></ul>
      <% end %>
    </div>

    <div class="col-lg-6">
      <h2>Add or Remove Collaborator</h2>
      <%= form_for([@wiki, @collaboration]) do |f| %>
        <div class="form-group">
        <%= f.collection_select :user_id, User.all, :id, :username %>
        </div>
        <div class="form-group">
        <%= f.submit  "Save", class: "btn btn-primary" %>

      <% end %>
      </div>
    </div>
  </div>
</div>
